*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: crimson;
}

h2{
    color: cornflowerblue;
}

h3{
    color: mediumorchid;
}

h4{
    color: blue;
}


.flan{
    width: 50%;
    border-radius: 20px;
}

.three-col{
    columns: 3;
    text-align: center;
}
.bg{
    background-color: chocolate;
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

a{
    text-decoration: none;
}

dt{
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}