*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* css cua khoi header */
header{
    padding-bottom: 10px;
    border-bottom: groove gray medium ;
    overflow: hidden;
}
.logo{
    width:50px;
    float: left;
}

.blink {
    display: inline;
    color: brown;
    font-family: sans-serif;
    font-weight: bolder;
}

/* ket thuc css cua khoi header */

/* css cua khoi menu */
nav>ul{
    list-style-type: none;
}

nav>ul>li{
    display: inline-block;
}

nav>ul>li>a{
    text-decoration: none;
    padding: 5px 10px;
    transition-property: color;
    transition-property: background-color;
    transition-duration: 2s;
}
nav>ul>li>a:hover{
    color: red;
    background-color: wheat;
}

/* let thuc css cua khoi menu */


/* css cua khoi section */
section{
    width: 70%;
    background-color: lightgoldenrodyellow;
    text-align: justify;
    padding: 10px 30px;
    float: left;

}
/* ketthuc css cua khoi section */

/* css cua khoi aside : quang cao */
aside{
    float: right;
    width: 20%;
}

aside img{
    width: 90%;
}
/* ketthuccss cua khoi aside */

/* css cua khoi footer */
footer{
    clear: both;
    margin-top: 30px;
    border-top: inset green medium;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;

    text-align: center;
}

/* ket thuc css cua khoi footer */